/* stylesheet */

body {
	background-color: rgb(214, 230, 244);
}

.attribution { 
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	border: 2px hsl(212, 45%, 89%) solid;
	text-align: center;
	border-radius: 10px;
	width: 220px;
	height: auto;
	background-color: white;
	margin-top: 40px;
	margin-left: 50%;
	margin-bottom: 20px;
	transform: translateX(-50%);
}

img {
	width: 200px;
	height: auto;
	border-radius: 10px;
	margin-top: 10px;
}

#firstLine,
#secondLine {
	width: 80%;
	margin-left: 20px;
	font-family: "Outfit", sans-serif;
}

#firstLine {
	font-weight: bold;
	font-size: 15px;
	color: hsl(218, 44%, 22%);
}

#secondLine {
	font-size: 11px;
	font-weight: 400;
	margin-bottom: 30px;
	color: hsl(216, 15%, 48%);
}