/* stylesheet */

body {
	background-color: rgb(214, 230, 244);
}

.attribution { 
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	border: 2px white solid;
	text-align: center;
	border-radius: 10px;
	width: 220px;
	height: auto;
	background-color: white;
	margin-top: 30px;
	margin-left: 50%;
	margin-bottom: 20px;
	transform: translateX(-50%);
}

img {
	width: 200px;
	height: auto;
	border-radius: 10px;
	margin-top: 10px;
}

#firstLine,
#secondLine {
	width: 90%;
	margin-left: 10px;
	font-family: "Montserrat", sans-serif;
}

#firstLine {
	font-weight: bold;
	font-size: 14px;
	color: rgb(13, 28, 68);
}

#secondLine {
	font-size: 11px;
	margin-bottom: 30px;
	color: gray;
}